<p>
当サイトを利用される場合は、ここに記載した条件に準拠いただくものとします。当サイトをご利用いただいた時点で、以下利用条件の全てに同意頂いたものとさせて頂きます。

当サイトは、お客様の便宜に供する為のものであり、お客様御自身の責任において利用頂く事ができるものとします。
第三者、または当社に損害や不利益を与える行為、第三者、または当社の信用や名誉を損なう行為は禁止とさせて頂きます。
当サイトに収録・掲載されているコンテンツのレイアウト、デザインおよび構造に関する著作権は当社に帰属します。画像等ご利用の際には事前に当社の承諾が必要です。
</p>
